<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="/vikings">A Step Beyond</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-nav-collapse">

            {{#if currentUser }}
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/vikings">Home</a></li>
                        <li><a href="/community">Community</a></li>
                        <li><a href="/vikings/workout">Add Workout</a></li>
                        <li><a href="/edit">Edit Profile</a></li>
                        <li><a href="/plans">Plans</a></li>
                        <li><a href="/admin/newPlan">Create New Plan</a></li>
                        <li><a href="/admin/addFeature">Add Feature</a></li>
                        <li><a href="/admin/showFeatures">Show All Feature</a></li>
                        <li><a href="/showPlans">Show All Plans</a></li>

                    </ul>
                </li>
                <li><a href="/logout?_method=delete">Logout</a></li>
            </ul>
            {{/if }}

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
