<div class="col-sm-4 col-sm-offset-4">
</div>
<div class="well col-sm-4 col-sm-offset-4">
  <h2>Edit Profile</h2>
  <form action="/edit" method="post">
    <div class="form-group">
      <label for="fname">First Name</label>
      <input type="text" name="fname" value="" class="form-control">
    </div>
    <div class="form-group">
      <label for="lname">Last Name</label>
      <input type="text" name="lname" value="" class="form-control">
    </div>
    <div class="form-group">
      <label for="picture">Image Url</label>
      <input type="url" name="picture" value="" class="form-control">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" value="" class="form-control">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" minlength="8" maxlength="22" class="form-control">
    </div>
    <button class="btn btn-warning">Save Changes</button>
  </form>
</div>
