

<div class="row">
  <div class="col-sm-3 well">
    <h4>Free Plan</h4>
    <table class="table table-striped">
      <thead>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td>Feature A</td>
          <td><span class="glyphicon glyphicon-check" aria-hidden="true"></span></td>
        </tr>
        <tr>
          <td>Feature B</td>
          <td><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span></td>
        </tr>
        <tr>
          <td>Feature C</td>
          <td><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span></td>
        </tr>
        <tr>
          <td>Feature D</td>
          <td><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span></td>
        </tr>
        <tr>
          <td>Feature E</td>
          <td><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span></td>
        </tr>
        <tr>
          <td>Feature F</td>
          <td><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span></td>
        </tr>
        <tr>
          <td>Feature G</td>
          <td><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span></td>
        </tr>
        <tr>
          <td>Feature H</td>
          <td><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span></td>
        </tr>
      </tbody>
    </table>
    <a href="/checkout/a">
        <span class="btn btn-success">
        Select Free Plan
      </span>
    </a>
  </div>
  <div class="col-sm-3 well">
    <h4>Basic Plan</h4>
    <table class="table table-striped">
      <thead>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td>Feature A</td>
          <td><span class="glyphicon glyphicon-check" aria-hidden="true"></span></td>
        </tr>
        <tr>
          <td>Feature B</td>
          <td><span class="glyphicon glyphicon-check" aria-hidden="true"></span></td>
        </tr>
        <tr>
          <td>Feature C</td>
          <td><span class="glyphicon glyphicon-check" aria-hidden="true"></span></td>
        </tr>
        <tr>
          <td>Feature D</td>
          <td><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span></td>
        </tr>
        <tr>
          <td>Feature E</td>
          <td><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span></td>
        </tr>
        <tr>
          <td>Feature F</td>
          <td><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span></td>
        </tr>
        <tr>
          <td>Feature G</td>
          <td><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span></td>
        </tr>
        <tr>
          <td>Feature H</td>
          <td><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span></td>
        </tr>
      </tbody>
    </table>
    <a href="/checkout/b">
        <span class="btn btn-success">
        Select Basic Plan
      </span>
    </a>
  </div>
  <div class="col-sm-3 well">
    <h4>Indermediate Plan</h4>
    <table class="table table-striped">
      <thead>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td>Feature A</td>
          <td><span class="glyphicon glyphicon-check" aria-hidden="true"></span></td>
        </tr>
        <tr>
          <td>Feature B</td>
          <td><span class="glyphicon glyphicon-check" aria-hidden="true"></span></td>
        </tr>
        <tr>
          <td>Feature C</td>
          <td><span class="glyphicon glyphicon-check" aria-hidden="true"></span></td>
        </tr>
        <tr>
          <td>Feature D</td>
          <td><span class="glyphicon glyphicon-check" aria-hidden="true"></span></td>
        </tr>
        <tr>
          <td>Feature E</td>
          <td><span class="glyphicon glyphicon-check" aria-hidden="true"></span></td>
        </tr>
        <tr>
          <td>Feature F</td>
          <td><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span></td>
        </tr>
        <tr>
          <td>Feature G</td>
          <td><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span></td>
        </tr>
        <tr>
          <td>Feature H</td>
          <td><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span></td>
        </tr>
      </tbody>
    </table>
    <a href="/checkout/c">
        <span class="btn btn-success">
        Select Indermediate Plan
      </span>
    </a>
  </div>
  <div class="col-sm-3 well">
    <h4>Advanced Plan</h4>
    <table class="table table-striped">
      <thead>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td>Feature A</td>
          <td><span class="glyphicon glyphicon-check" aria-hidden="true"></span></td>
        </tr>
        <tr>
          <td>Feature B</td>
          <td><span class="glyphicon glyphicon-check" aria-hidden="true"></span></td>
        </tr>
        <tr>
          <td>Feature C</td>
          <td><span class="glyphicon glyphicon-check" aria-hidden="true"></span></td>
        </tr>
        <tr>
          <td>Feature D</td>
          <td><span class="glyphicon glyphicon-check" aria-hidden="true"></span></td>
        </tr>
        <tr>
          <td>Feature E</td>
          <td><span class="glyphicon glyphicon-check" aria-hidden="true"></span></td>
        </tr>
        <tr>
          <td>Feature F</td>
          <td><span class="glyphicon glyphicon-check" aria-hidden="true"></span></td>
        </tr>
        <tr>
          <td>Feature G</td>
          <td><span class="glyphicon glyphicon-check" aria-hidden="true"></span></td>
        </tr>
        <tr>
          <td>Feature H</td>
          <td><span class="glyphicon glyphicon-check" aria-hidden="true"></span></td>
        </tr>
      </tbody>
    </table>
    <a href="/checkout/d">
        <span class="btn btn-success">
        Select Advanced Plan
      </span>
    </a>
  </div>
</div>
