<div class="col-sm-4 col-sm-offset-4">
  <h1>Viking Fitness</h1>
</div>
<div class="well col-sm-4 col-sm-offset-4">
  <form action="/vikings/workout" method="post">
    <div class="form-group">
      <label for="pullup">Pull Ups</label>
      <input type="number" name="pullup" class="form-control" placeholder="Total Reps" min="0" required="required">
    </div>
    <div class="form-group">
      <label for="pushup">Push Ups</label>
      <input type="number" name="pushup" class="form-control" placeholder="Total Reps" min="0" required="required">
    </div>
    <div class="form-group">
      <label for="mile">Mile Run Time</label>
      <input type="number" name="minutes" class="form-control" placeholder="Minutes" min="0" required="required">
      <input type="number" name="seconds" class="form-control" placeholder="Seconds" max="59" min="0" required="required">
    </div>
    <button class="btn btn-success">Post Workout</button>
  </form>
</div>
